
global
    log stdout  format raw  local0  info
    chroot  /var/lib/haproxy
    pidfile /var/run/haproxy.pid
    maxconn 4000
    user    haproxy
    group   haproxy
    daemon
    no strict-limits

defaults
    mode                     http
    log                      global
    option                   httplog
    option                   dontlognull
    option http-server-close
    option                   redispatch
    retries                  3
    timeout http-request     10s
    timeout queue            1m
    timeout connect          10s
    timeout client           1m
    timeout server           1m
    timeout http-keep-alive  10s
    timeout check            10s
    maxconn                  3000

frontend main
    bind *:80
    option http-server-close

    # set protocol
    http-request set-header X-Forwarded-Proto http%[req.hdr(X-Forwarded-Proto),lower,map(/etc/haproxy/maps/proto.map)]
    http-request set-var(txn.proto) req.hdr(X-Forwarded-Proto)

    # env var dependant redirects
    http-request redirect code 301 location %[var(txn.proto)]://"${TB_HOST}"%[url,regsub(/wp-content,/wp)] if { path_beg /wp-content/uploads }
    http-request redirect code 301 location %[var(txn.proto)]://"${TB_HOST}"%[url] if { path_reg ^/daily/\d+/.+$ }
    http-request redirect code 301 location %[var(txn.proto)]://"${RP_HOST}"%[url] if { path_reg ^/(genesis|research)/\d+/.+ }

    # set cache-control
    http-request set-var(txn.cache_control) path,map_reg(/etc/haproxy/maps/cache-control.map)

    # send version
    http-after-response set-header X-Powered-By "${IMAGE_VERSION}"}

    default_backend app
