
global
    log stdout  format raw  local0  info
    user haproxy
    group haproxy

defaults
    default-server init-addr last,libc,none
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 10000
    timeout client 30000
    timeout server 30000
    timeout check 30000

frontend http-in
    bind :80

    use_backend wp if { url_beg -i '/edit' }
    use_backend wp if { url_beg -i '/wp-' }
    use_backend wp if { url_end -i 'php' }
    use_backend wp if { url_end -i 'xml' }
    use_backend wp if { url_end -i 'tradingview.json' }

    use_backend app if { url_beg -i '/api-local' }
    use_backend api if { url_beg -i '/api' }

    use_backend app if { hdr(host) -i -m reg '.*\.tblk.us' }
    use_backend app if { hdr(host) -i -m str '*.localhost' }

    default_backend app

backend app
   server app app:80

backend api
   http-request set-path "%[path,regsub(^/api,'')]"
   server api api:4000

backend wp
   server wordpress wp:80
