
global
    log stdout  format raw  local0  info
    chroot  /var/lib/haproxy
    pidfile /var/run/haproxy.pid
    maxconn 4000
    user    haproxy
    group   haproxy
    daemon
    no strict-limits

defaults
    mode                     http
    log                      global
    option                   httplog
    option                   dontlognull
    option http-server-close
    option forwardfor        except 127.0.0.0/8
    option                   redispatch
    retries                  3
    timeout http-request     10s
    timeout queue            1m
    timeout connect          10s
    timeout client           1m
    timeout server           1m
    timeout http-keep-alive  10s
    timeout check            10s
    maxconn                  3000

http-errors errors
    errorfile 404 /etc/haproxy/errors/404.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 503 /etc/haproxy/errors/503.http

frontend main
    bind *:80

    # set protocol
    http-request set-header X-Forwarded-Proto http%[req.hdr(X-Forwarded-Proto),lower,map(/etc/haproxy/maps/proto.map)]
    http-request set-var(txn.proto) req.hdr(X-Forwarded-Proto)

    # env var dependant redirects
    http-request redirect code 301 location %[var(txn.proto)]://"${TB_HOST}"%[url,regsub(/wp-content,/wp)] if { path_beg /wp-content/uploads }
    http-request redirect code 301 location %[var(txn.proto)]://"${TB_HOST}"%[url] if { path_reg ^/daily/\d+/.+$ }
    http-request redirect code 301 location %[var(txn.proto)]://"${RP_HOST}"%[url] if { path_reg ^/(genesis|research)/\d+/.+ }

    # set cache-control
    http-request set-var(txn.cache_control) path,map_reg(/etc/haproxy/maps/cache-control.map)

    # send version
    http-after-response set-header X-Powered-By "${IMAGE_VERSION}"

    default_backend app

backend app
    balance roundrobin
    retry-on all-retryable-errors
    retries 3
    http-request disable-l7-retry if METH_POST

    errorfiles errors
    http-response return status 404 default-errorfiles if { status 404 }
    http-response return status 500 default-errorfiles if { status 500 }
    http-response return status 503 default-errorfiles if { status 503 }

    http-response set-header Cache-Control %[var(txn.cache_control)] unless { res.hdr(Cache-Control) -m found }
    http-response set-header X-Frame-Options SAMEORIGIN unless { res.hdr(X-Frame-Options) -m found }
    http-response set-header X-Permitted-Cross-Domain-Policies none unless { res.hdr(X-Permitted-Cross-Domain-Policies) -m found }
    http-response set-header Strict-Transport-Security max-age=31536000 unless { res.hdr(Strict-Transport-Security) -m found }