
global
    log stdout  format raw  local0  info
    chroot  /var/lib/haproxy
    pidfile /var/run/haproxy.pid
    maxconn 4000
    user    haproxy
    group   haproxy
    daemon
    no strict-limits

defaults
    mode                     http
    log                      global
    option                   httplog
    option                   dontlognull
    option                   http-server-close
    option                   forwardfor except 127.0.0.0/8
    option                   redispatch
    retries                  3
    timeout http-request     10s
    timeout queue            1m
    timeout connect          10s
    timeout client           1m
    timeout server           1m
    timeout tunnel           80000
    timeout http-keep-alive  10s
    timeout check            10s
    maxconn                  3000


http-errors errors
    errorfile 404 /etc/haproxy/errors/404.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 503 /etc/haproxy/errors/503.http

frontend main
    bind *:80

    # set protocol
    http-request set-header X-Forwarded-Proto http%[req.hdr(X-Forwarded-Proto),lower,map(/etc/haproxy/maps/proto.map)]
    http-request set-var(txn.proto) req.hdr(X-Forwarded-Proto)

    # send version
    http-after-response set-header X-Powered-By "${IMAGE_VERSION}"
    
    use_backend papi-server if { url_beg -i '/api-public/v1/news/live' }

    default_backend app
